Data Exploration of Titanic dataset.

In [153]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
gs = pd.read_csv('gender_submission.csv')
print (gs)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [12]:
tr = pd.read_csv('train.csv')
print(tr)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [22]:
te = pd.read_csv('test.csv')
print(te)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [14]:
tr.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
print(tr['Survived'])

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [24]:
count_survived_1 = (tr['Survived'] == 1).sum()

print(f"Number of people that survived: {count_survived_1 }")

Number of people that survived: 342

In [18]:
gs.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [21]:
te.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
tr.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
subset_tr = tr[['Survived', 'Pclass', 'Sex', 'Age', 'Embarked']]

In [27]:
print(subset_tr)

     Survived  Pclass     Sex   Age Embarked
0           0       3    male  22.0        S
1           1       1  female  38.0        C
2           1       3  female  26.0        S
3           1       1  female  35.0        S
4           0       3    male  35.0        S
..        ...     ...     ...   ...      ...
886         0       2    male  27.0        S
887         1       1  female  19.0        S
888         0       3  female   NaN        S
889         1       1    male  26.0        C
890         0       3    male  32.0        Q

[891 rows x 5 columns]

In [102]:
tr_1 = subset_tr[subset_tr['Survived']==1]
print (tr_1)

     Survived  Pclass     Sex    Age Embarked
1           1       1  female  38.00        C
2           1       3  female  26.00        S
3           1       1  female  35.00        S
8           1       3  female  27.00        S
9           1       2  female  14.00        C
10          1       3  female   4.00        S
11          1       1  female  58.00        S
15          1       2  female  55.00        S
17          1       2    male    NaN        S
19          1       3  female    NaN        C
21          1       2    male  34.00        S
22          1       3  female  15.00        Q
23          1       1    male  28.00        S
25          1       3  female  38.00        S
28          1       3  female    NaN        Q
31          1       1  female    NaN        C
32          1       3  female    NaN        Q
36          1       3    male    NaN        C
39          1       3  female  14.00        C
43          1       2  female   3.00        C
44          1       3  female  19.00        Q
47          1       3  female    NaN        Q
52          1       1  female  49.00        C
53          1       2  female  29.00        S
55          1       1    male    NaN        S
56          1       2  female  21.00        S
58          1       2  female   5.00        S
61          1       1  female  38.00      NaN
65          1       3    male    NaN        C
66          1       2  female  29.00        S
68          1       3  female  17.00        S
74          1       3    male  32.00        S
78          1       2    male   0.83        S
79          1       3  female  30.00        S
81          1       3    male  29.00        S
82          1       3  female    NaN        Q
84          1       2  female  17.00        S
85          1       3  female  33.00        S
88          1       1  female  23.00        S
97          1       1    male  23.00        C
98          1       2  female  34.00        S
106         1       3  female  21.00        S
107         1       3    male    NaN        S
109         1       3  female    NaN        Q
123         1       2  female  32.50        S
125         1       3    male  12.00        C
127         1       3    male  24.00        S
128         1       3  female    NaN        C
133         1       2  female  29.00        S
136         1       1  female  19.00        S
141         1       3  female  22.00        S
142         1       3  female  24.00        S
146         1       3    male  27.00        S
151         1       1  female  22.00        S
156         1       3  female  16.00        Q
161         1       2  female  40.00        S
165         1       3    male   9.00        S
166         1       1  female    NaN        S
172         1       3  female   1.00        S
183         1       2    male   1.00        S
184         1       3  female   4.00        S
186         1       3  female    NaN        Q
187         1       1    male  45.00        S
190         1       2  female  32.00        S
192         1       3  female  19.00        S
193         1       2    male   3.00        S
194         1       1  female  44.00        C
195         1       1  female  58.00        C
198         1       3  female    NaN        Q
204         1       3    male  18.00        S
207         1       3    male  26.00        C
208         1       3  female  16.00        Q
209         1       1    male  40.00        C
211         1       2  female  35.00        S
215         1       1  female  31.00        C
216         1       3  female  27.00        S
218         1       1  female  32.00        C
220         1       3    male  16.00        S
224         1       1    male  38.00        S
226         1       2    male  19.00        S
230         1       1  female  35.00        S
233         1       3  female   5.00        S
237         1       2  female   8.00        S
241         1       3  female    NaN        Q
247         1       2  female  24.00        S
248         1       1    male  37.00        S
255         1       3  female  29.00        C
256         1       1  female    NaN        C
257         1       1  female  30.00        S
258         1       1  female  35.00        C
259         1       2  female  50.00        S
261         1       3    male   3.00        S
267         1       3    male  25.00        S
268         1       1  female  58.00        S
269         1       1  female  35.00        S
271         1       3    male  25.00        S
272         1       2  female  41.00        S
274         1       3  female    NaN        Q
275         1       1  female  63.00        S
279         1       3  female  35.00        S
283         1       3    male  19.00        S
286         1       3    male  30.00        S
288         1       2    male  42.00        S
289         1       3  female  22.00        Q
290         1       1  female  26.00        S
291         1       1  female  19.00        C
298         1       1    male    NaN        S
299         1       1  female  50.00        C
300         1       3  female    NaN        Q
301         1       3    male    NaN        Q
303         1       2  female    NaN        Q
305         1       1    male   0.92        S
306         1       1  female    NaN        C
307         1       1  female  17.00        C
309         1       1  female  30.00        C
310         1       1  female  24.00        C
311         1       1  female  18.00        C
315         1       3  female  26.00        S
316         1       2  female  24.00        S
318         1       1  female  31.00        S
319         1       1  female  40.00        C
322         1       2  female  30.00        Q
323         1       2  female  22.00        S
325         1       1  female  36.00        C
327         1       2  female  36.00        S
328         1       3  female  31.00        S
329         1       1  female  16.00        C
330         1       3  female    NaN        Q
334         1       1  female    NaN        S
337         1       1  female  41.00        C
338         1       3    male  45.00        S
340         1       2    male   2.00        S
341         1       1  female  24.00        S
345         1       2  female  24.00        S
346         1       2  female  40.00        S
347         1       3  female    NaN        S
348         1       3    male   3.00        S
356         1       1  female  22.00        S
358         1       3  female    NaN        Q
359         1       3  female    NaN        Q
366         1       1  female  60.00        C
367         1       3  female    NaN        C
368         1       3  female    NaN        Q
369         1       1  female  24.00        C
370         1       1    male  25.00        C
375         1       1  female    NaN        C
376         1       3  female  22.00        S
380         1       1  female  42.00        C
381         1       3  female   1.00        C
383         1       1  female  35.00        S
387         1       2  female  36.00        S
389         1       2  female  17.00        C
390         1       1    male  36.00        S
391         1       3    male  21.00        S
393         1       1  female  23.00        C
394         1       3  female  24.00        S
399         1       2  female  28.00        S
400         1       3    male  39.00        S
407         1       2    male   3.00        S
412         1       1  female  33.00        Q
414         1       3    male  44.00        S
416         1       2  female  34.00        S
417         1       2  female  18.00        S
426         1       2  female  28.00        S
427         1       2  female  19.00        S
429         1       3    male  32.00        S
430         1       1    male  28.00        S
431         1       3  female    NaN        S
432         1       2  female  42.00        S
435         1       1  female  14.00        S
437         1       2  female  24.00        S
440         1       2  female  45.00        S
443         1       2  female  28.00        S
444         1       3    male    NaN        S
445         1       1    male   4.00        S
446         1       2  female  13.00        S
447         1       1    male  34.00        S
448         1       3  female   5.00        C
449         1       1    male  52.00        S
453         1       1    male  49.00        C
455         1       3    male  29.00        C
457         1       1  female    NaN        S
458         1       2  female  50.00        S
460         1       1    male  48.00        S
469         1       3  female   0.75        C
472         1       2  female  33.00        S
473         1       2  female  23.00        C
479         1       3  female   2.00        S
483         1       3  female  63.00        S
484         1       1    male  25.00        C
486         1       1  female  35.00        S
489         1       3    male   9.00        S
496         1       1  female  54.00        C
504         1       1  female  16.00        S
506         1       2  female  33.00        S
507         1       1    male    NaN        S
509         1       3    male  26.00        S
510         1       3    male  29.00        Q
512         1       1    male  36.00        S
513         1       1  female  54.00        C
516         1       2  female  34.00        S
518         1       2  female  36.00        S
520         1       1  female  30.00        S
523         1       1  female  44.00        C
526         1       2  female  50.00        S
530         1       2  female   2.00        S
533         1       3  female    NaN        C
535         1       2  female   7.00        S
537         1       1  female  30.00        C
539         1       1  female  22.00        C
540         1       1  female  36.00        S
543         1       2    male  32.00        S
546         1       2  female  19.00        S
547         1       2    male    NaN        C
549         1       2    male   8.00        S
550         1       1    male  17.00        C
553         1       3    male  22.00        C
554         1       3  female  22.00        S
556         1       1  female  48.00        C
558         1       1  female  39.00        S
559         1       3  female  36.00        S
569         1       3    male  32.00        S
570         1       2    male  62.00        S
571         1       1  female  53.00        S
572         1       1    male  36.00        S
573         1       3  female    NaN        Q
576         1       2  female  34.00        S
577         1       1  female  39.00        S
579         1       3    male  32.00        S
580         1       2  female  25.00        S
581         1       1  female  39.00        C
585         1       1  female  18.00        S
587         1       1    male  60.00        C
591         1       1  female  52.00        C
596         1       2  female    NaN        S
599         1       1    male  49.00        C
600         1       2  female  24.00        S
604         1       1    male  35.00        C
607         1       1    male  27.00        S
608         1       2  female  22.00        C
609         1       1  female  40.00        S
612         1       3  female    NaN        Q
615         1       2  female  24.00        S
618         1       2  female   4.00        S
621         1       1    male  42.00        S
622         1       3    male  20.00        C
627         1       1  female  21.00        S
630         1       1    male  80.00        S
632         1       1    male  32.00        C
635         1       2  female  28.00        S
641         1       1  female  24.00        C
643         1       3    male    NaN        S
644         1       3  female   0.75        C
645         1       1    male  48.00        C
647         1       1    male  56.00        C
649         1       3  female  23.00        S
651         1       2  female  18.00        S
653         1       3  female    NaN        Q
660         1       1    male  50.00        S
664         1       3    male  20.00        S
669         1       1  female    NaN        S
670         1       2  female  40.00        S
673         1       2    male  31.00        S
677         1       3  female  18.00        S
679         1       1    male  36.00        C
681         1       1    male  27.00        C
689         1       1  female  15.00        S
690         1       1    male  31.00        S
691         1       3  female   4.00        C
692         1       3    male    NaN        S
697         1       3  female    NaN        Q
700         1       1  female  18.00        C
701         1       1    male  35.00        S
706         1       2  female  45.00        S
707         1       1    male  42.00        S
708         1       1  female  22.00        S
709         1       3    male    NaN        C
710         1       1  female  24.00        C
712         1       1    male  48.00        S
716         1       1  female  38.00        C
717         1       2  female  27.00        S
720         1       2  female   6.00        S
724         1       1    male  27.00        S
726         1       2  female  30.00        S
727         1       3  female    NaN        Q
730         1       1  female  29.00        S
737         1       1    male  35.00        C
740         1       1    male    NaN        S
742         1       1  female  21.00        C
744         1       3    male  31.00        S
747         1       2  female  30.00        S
750         1       2  female   4.00        S
751         1       3    male   6.00        S
754         1       2  female  48.00        S
755         1       2    male   0.67        S
759         1       1  female  33.00        S
762         1       3    male  20.00        C
763         1       1  female  36.00        S
765         1       1  female  51.00        S
774         1       2  female  54.00        S
777         1       3  female   5.00        S
779         1       1  female  43.00        S
780         1       3  female  13.00        C
781         1       1  female  17.00        S
786         1       3  female  18.00        S
788         1       3    male   1.00        S
796         1       1  female  49.00        S
797         1       3  female  31.00        S
801         1       2  female  31.00        S
802         1       1    male  11.00        S
803         1       3    male   0.42        C
804         1       3    male  27.00        S
809         1       1  female  33.00        S
820         1       1  female  52.00        S
821         1       3    male  27.00        S
823         1       3  female  27.00        S
827         1       2    male   1.00        C
828         1       3    male    NaN        Q
829         1       1  female  62.00      NaN
830         1       3  female  15.00        C
831         1       2    male   0.83        S
835         1       1  female  39.00        C
838         1       3    male  32.00        S
839         1       1    male    NaN        C
842         1       1  female  30.00        C
849         1       1  female    NaN        C
853         1       1  female  16.00        S
855         1       3  female  18.00        S
856         1       1  female  45.00        S
857         1       1    male  51.00        S
858         1       3  female  24.00        C
862         1       1  female  48.00        S
865         1       2  female  42.00        S
866         1       2  female  27.00        C
869         1       3    male   4.00        S
871         1       1  female  47.00        S
874         1       2  female  28.00        C
875         1       3  female  15.00        C
879         1       1  female  56.00        C
880         1       2  female  25.00        S
887         1       1  female  19.00        S
889         1       1    male  26.00        C

In [162]:
tr_2 = tr_1[tr_1['Sex'] == 'female']
print(tr_2)

     Survived  Pclass     Sex    Age Embarked
1           1       1  female  38.00        C
2           1       3  female  26.00        S
3           1       1  female  35.00        S
8           1       3  female  27.00        S
9           1       2  female  14.00        C
10          1       3  female   4.00        S
11          1       1  female  58.00        S
15          1       2  female  55.00        S
19          1       3  female    NaN        C
22          1       3  female  15.00        Q
25          1       3  female  38.00        S
28          1       3  female    NaN        Q
31          1       1  female    NaN        C
32          1       3  female    NaN        Q
39          1       3  female  14.00        C
43          1       2  female   3.00        C
44          1       3  female  19.00        Q
47          1       3  female    NaN        Q
52          1       1  female  49.00        C
53          1       2  female  29.00        S
56          1       2  female  21.00        S
58          1       2  female   5.00        S
61          1       1  female  38.00      NaN
66          1       2  female  29.00        S
68          1       3  female  17.00        S
79          1       3  female  30.00        S
82          1       3  female    NaN        Q
84          1       2  female  17.00        S
85          1       3  female  33.00        S
88          1       1  female  23.00        S
98          1       2  female  34.00        S
106         1       3  female  21.00        S
109         1       3  female    NaN        Q
123         1       2  female  32.50        S
128         1       3  female    NaN        C
133         1       2  female  29.00        S
136         1       1  female  19.00        S
141         1       3  female  22.00        S
142         1       3  female  24.00        S
151         1       1  female  22.00        S
156         1       3  female  16.00        Q
161         1       2  female  40.00        S
166         1       1  female    NaN        S
172         1       3  female   1.00        S
184         1       3  female   4.00        S
186         1       3  female    NaN        Q
190         1       2  female  32.00        S
192         1       3  female  19.00        S
194         1       1  female  44.00        C
195         1       1  female  58.00        C
198         1       3  female    NaN        Q
208         1       3  female  16.00        Q
211         1       2  female  35.00        S
215         1       1  female  31.00        C
216         1       3  female  27.00        S
218         1       1  female  32.00        C
230         1       1  female  35.00        S
233         1       3  female   5.00        S
237         1       2  female   8.00        S
241         1       3  female    NaN        Q
247         1       2  female  24.00        S
255         1       3  female  29.00        C
256         1       1  female    NaN        C
257         1       1  female  30.00        S
258         1       1  female  35.00        C
259         1       2  female  50.00        S
268         1       1  female  58.00        S
269         1       1  female  35.00        S
272         1       2  female  41.00        S
274         1       3  female    NaN        Q
275         1       1  female  63.00        S
279         1       3  female  35.00        S
289         1       3  female  22.00        Q
290         1       1  female  26.00        S
291         1       1  female  19.00        C
299         1       1  female  50.00        C
300         1       3  female    NaN        Q
303         1       2  female    NaN        Q
306         1       1  female    NaN        C
307         1       1  female  17.00        C
309         1       1  female  30.00        C
310         1       1  female  24.00        C
311         1       1  female  18.00        C
315         1       3  female  26.00        S
316         1       2  female  24.00        S
318         1       1  female  31.00        S
319         1       1  female  40.00        C
322         1       2  female  30.00        Q
323         1       2  female  22.00        S
325         1       1  female  36.00        C
327         1       2  female  36.00        S
328         1       3  female  31.00        S
329         1       1  female  16.00        C
330         1       3  female    NaN        Q
334         1       1  female    NaN        S
337         1       1  female  41.00        C
341         1       1  female  24.00        S
345         1       2  female  24.00        S
346         1       2  female  40.00        S
347         1       3  female    NaN        S
356         1       1  female  22.00        S
358         1       3  female    NaN        Q
359         1       3  female    NaN        Q
366         1       1  female  60.00        C
367         1       3  female    NaN        C
368         1       3  female    NaN        Q
369         1       1  female  24.00        C
375         1       1  female    NaN        C
376         1       3  female  22.00        S
380         1       1  female  42.00        C
381         1       3  female   1.00        C
383         1       1  female  35.00        S
387         1       2  female  36.00        S
389         1       2  female  17.00        C
393         1       1  female  23.00        C
394         1       3  female  24.00        S
399         1       2  female  28.00        S
412         1       1  female  33.00        Q
416         1       2  female  34.00        S
417         1       2  female  18.00        S
426         1       2  female  28.00        S
427         1       2  female  19.00        S
431         1       3  female    NaN        S
432         1       2  female  42.00        S
435         1       1  female  14.00        S
437         1       2  female  24.00        S
440         1       2  female  45.00        S
443         1       2  female  28.00        S
446         1       2  female  13.00        S
448         1       3  female   5.00        C
457         1       1  female    NaN        S
458         1       2  female  50.00        S
469         1       3  female   0.75        C
472         1       2  female  33.00        S
473         1       2  female  23.00        C
479         1       3  female   2.00        S
483         1       3  female  63.00        S
486         1       1  female  35.00        S
496         1       1  female  54.00        C
504         1       1  female  16.00        S
506         1       2  female  33.00        S
513         1       1  female  54.00        C
516         1       2  female  34.00        S
518         1       2  female  36.00        S
520         1       1  female  30.00        S
523         1       1  female  44.00        C
526         1       2  female  50.00        S
530         1       2  female   2.00        S
533         1       3  female    NaN        C
535         1       2  female   7.00        S
537         1       1  female  30.00        C
539         1       1  female  22.00        C
540         1       1  female  36.00        S
546         1       2  female  19.00        S
554         1       3  female  22.00        S
556         1       1  female  48.00        C
558         1       1  female  39.00        S
559         1       3  female  36.00        S
571         1       1  female  53.00        S
573         1       3  female    NaN        Q
576         1       2  female  34.00        S
577         1       1  female  39.00        S
580         1       2  female  25.00        S
581         1       1  female  39.00        C
585         1       1  female  18.00        S
591         1       1  female  52.00        C
596         1       2  female    NaN        S
600         1       2  female  24.00        S
608         1       2  female  22.00        C
609         1       1  female  40.00        S
612         1       3  female    NaN        Q
615         1       2  female  24.00        S
618         1       2  female   4.00        S
627         1       1  female  21.00        S
635         1       2  female  28.00        S
641         1       1  female  24.00        C
644         1       3  female   0.75        C
649         1       3  female  23.00        S
651         1       2  female  18.00        S
653         1       3  female    NaN        Q
669         1       1  female    NaN        S
670         1       2  female  40.00        S
677         1       3  female  18.00        S
689         1       1  female  15.00        S
691         1       3  female   4.00        C
697         1       3  female    NaN        Q
700         1       1  female  18.00        C
706         1       2  female  45.00        S
708         1       1  female  22.00        S
710         1       1  female  24.00        C
716         1       1  female  38.00        C
717         1       2  female  27.00        S
720         1       2  female   6.00        S
726         1       2  female  30.00        S
727         1       3  female    NaN        Q
730         1       1  female  29.00        S
742         1       1  female  21.00        C
747         1       2  female  30.00        S
750         1       2  female   4.00        S
754         1       2  female  48.00        S
759         1       1  female  33.00        S
763         1       1  female  36.00        S
765         1       1  female  51.00        S
774         1       2  female  54.00        S
777         1       3  female   5.00        S
779         1       1  female  43.00        S
780         1       3  female  13.00        C
781         1       1  female  17.00        S
786         1       3  female  18.00        S
796         1       1  female  49.00        S
797         1       3  female  31.00        S
801         1       2  female  31.00        S
809         1       1  female  33.00        S
820         1       1  female  52.00        S
823         1       3  female  27.00        S
829         1       1  female  62.00      NaN
830         1       3  female  15.00        C
835         1       1  female  39.00        C
842         1       1  female  30.00        C
849         1       1  female    NaN        C
853         1       1  female  16.00        S
855         1       3  female  18.00        S
856         1       1  female  45.00        S
858         1       3  female  24.00        C
862         1       1  female  48.00        S
865         1       2  female  42.00        S
866         1       2  female  27.00        C
871         1       1  female  47.00        S
874         1       2  female  28.00        C
875         1       3  female  15.00        C
879         1       1  female  56.00        C
880         1       2  female  25.00        S
887         1       1  female  19.00        S

In [163]:
count_survived_2 = (tr_2['Survived'] == 1).sum()

print(f"Number of people that survived and are female: {count_survived_2 }")

Number of people that survived and are female: 233

In [164]:
count_survived_1 = (tr['Survived'] == 1).sum()

print(f"Number of people that survived: {count_survived_1 }")

Number of people that survived: 342

In [187]:
fem_surv_rate = count_survived_2/count_survived_1
print (fem_surv_rate.round(2))

0.68

In [166]:
tr_m = subset_tr[subset_tr['Sex'] == 'male']
print(tr_m)

     Survived  Pclass   Sex    Age Embarked
0           0       3  male  22.00        S
4           0       3  male  35.00        S
5           0       3  male    NaN        Q
6           0       1  male  54.00        S
7           0       3  male   2.00        S
12          0       3  male  20.00        S
13          0       3  male  39.00        S
16          0       3  male   2.00        Q
17          1       2  male    NaN        S
20          0       2  male  35.00        S
21          1       2  male  34.00        S
23          1       1  male  28.00        S
26          0       3  male    NaN        C
27          0       1  male  19.00        S
29          0       3  male    NaN        S
30          0       1  male  40.00        C
33          0       2  male  66.00        S
34          0       1  male  28.00        C
35          0       1  male  42.00        S
36          1       3  male    NaN        C
37          0       3  male  21.00        S
42          0       3  male    NaN        C
45          0       3  male    NaN        S
46          0       3  male    NaN        Q
48          0       3  male    NaN        C
50          0       3  male   7.00        S
51          0       3  male  21.00        S
54          0       1  male  65.00        C
55          1       1  male    NaN        S
57          0       3  male  28.50        C
59          0       3  male  11.00        S
60          0       3  male  22.00        C
62          0       1  male  45.00        S
63          0       3  male   4.00        S
64          0       1  male    NaN        C
65          1       3  male    NaN        C
67          0       3  male  19.00        S
69          0       3  male  26.00        S
70          0       2  male  32.00        S
72          0       2  male  21.00        S
73          0       3  male  26.00        C
74          1       3  male  32.00        S
75          0       3  male  25.00        S
76          0       3  male    NaN        S
77          0       3  male    NaN        S
78          1       2  male   0.83        S
80          0       3  male  22.00        S
81          1       3  male  29.00        S
83          0       1  male  28.00        S
86          0       3  male  16.00        S
87          0       3  male    NaN        S
89          0       3  male  24.00        S
90          0       3  male  29.00        S
91          0       3  male  20.00        S
92          0       1  male  46.00        S
93          0       3  male  26.00        S
94          0       3  male  59.00        S
95          0       3  male    NaN        S
96          0       1  male  71.00        C
97          1       1  male  23.00        C
99          0       2  male  34.00        S
101         0       3  male    NaN        S
102         0       1  male  21.00        S
103         0       3  male  33.00        S
104         0       3  male  37.00        S
105         0       3  male  28.00        S
107         1       3  male    NaN        S
108         0       3  male  38.00        S
110         0       1  male  47.00        S
112         0       3  male  22.00        S
115         0       3  male  21.00        S
116         0       3  male  70.50        Q
117         0       2  male  29.00        S
118         0       1  male  24.00        C
120         0       2  male  21.00        S
121         0       3  male    NaN        S
122         0       2  male  32.50        C
124         0       1  male  54.00        S
125         1       3  male  12.00        C
126         0       3  male    NaN        Q
127         1       3  male  24.00        S
129         0       3  male  45.00        S
130         0       3  male  33.00        C
131         0       3  male  20.00        S
134         0       2  male  25.00        S
135         0       2  male  23.00        C
137         0       1  male  37.00        S
138         0       3  male  16.00        S
139         0       1  male  24.00        C
143         0       3  male  19.00        Q
144         0       2  male  18.00        S
145         0       2  male  19.00        S
146         1       3  male  27.00        S
148         0       2  male  36.50        S
149         0       2  male  42.00        S
150         0       2  male  51.00        S
152         0       3  male  55.50        S
153         0       3  male  40.50        S
154         0       3  male    NaN        S
155         0       1  male  51.00        C
157         0       3  male  30.00        S
158         0       3  male    NaN        S
159         0       3  male    NaN        S
160         0       3  male  44.00        S
162         0       3  male  26.00        S
163         0       3  male  17.00        S
164         0       3  male   1.00        S
165         1       3  male   9.00        S
168         0       1  male    NaN        S
169         0       3  male  28.00        S
170         0       1  male  61.00        S
171         0       3  male   4.00        Q
173         0       3  male  21.00        S
174         0       1  male  56.00        C
175         0       3  male  18.00        S
176         0       3  male    NaN        S
178         0       2  male  30.00        S
179         0       3  male  36.00        S
181         0       2  male    NaN        C
182         0       3  male   9.00        S
183         1       2  male   1.00        S
185         0       1  male    NaN        S
187         1       1  male  45.00        S
188         0       3  male  40.00        Q
189         0       3  male  36.00        S
191         0       2  male  19.00        S
193         1       2  male   3.00        S
196         0       3  male    NaN        Q
197         0       3  male  42.00        S
200         0       3  male  28.00        S
201         0       3  male    NaN        S
202         0       3  male  34.00        S
203         0       3  male  45.50        C
204         1       3  male  18.00        S
206         0       3  male  32.00        S
207         1       3  male  26.00        C
209         1       1  male  40.00        C
210         0       3  male  24.00        S
212         0       3  male  22.00        S
213         0       2  male  30.00        S
214         0       3  male    NaN        Q
217         0       2  male  42.00        S
219         0       2  male  30.00        S
220         1       3  male  16.00        S
221         0       2  male  27.00        S
222         0       3  male  51.00        S
223         0       3  male    NaN        S
224         1       1  male  38.00        S
225         0       3  male  22.00        S
226         1       2  male  19.00        S
227         0       3  male  20.50        S
228         0       2  male  18.00        S
231         0       3  male  29.00        S
232         0       2  male  59.00        S
234         0       2  male  24.00        S
236         0       2  male  44.00        S
238         0       2  male  19.00        S
239         0       2  male  33.00        S
242         0       2  male  29.00        S
243         0       3  male  22.00        S
244         0       3  male  30.00        C
245         0       1  male  44.00        Q
248         1       1  male  37.00        S
249         0       2  male  54.00        S
250         0       3  male    NaN        S
252         0       1  male  62.00        S
253         0       3  male  30.00        S
260         0       3  male    NaN        Q
261         1       3  male   3.00        S
262         0       1  male  52.00        S
263         0       1  male  40.00        S
265         0       2  male  36.00        S
266         0       3  male  16.00        S
267         1       3  male  25.00        S
270         0       1  male    NaN        S
271         1       3  male  25.00        S
273         0       1  male  37.00        C
277         0       2  male    NaN        S
278         0       3  male   7.00        Q
280         0       3  male  65.00        Q
281         0       3  male  28.00        S
282         0       3  male  16.00        S
283         1       3  male  19.00        S
284         0       1  male    NaN        S
285         0       3  male  33.00        C
286         1       3  male  30.00        S
287         0       3  male  22.00        S
288         1       2  male  42.00        S
292         0       2  male  36.00        C
294         0       3  male  24.00        S
295         0       1  male    NaN        C
296         0       3  male  23.50        C
298         1       1  male    NaN        S
301         1       3  male    NaN        Q
302         0       3  male  19.00        S
304         0       3  male    NaN        S
305         1       1  male   0.92        S
308         0       2  male  30.00        C
313         0       3  male  28.00        S
314         0       2  male  43.00        S
317         0       2  male  54.00        S
320         0       3  male  22.00        S
321         0       3  male  27.00        S
324         0       3  male    NaN        S
326         0       3  male  61.00        S
331         0       1  male  45.50        S
332         0       1  male  38.00        S
333         0       3  male  16.00        S
335         0       3  male    NaN        S
336         0       1  male  29.00        S
338         1       3  male  45.00        S
339         0       1  male  45.00        S
340         1       2  male   2.00        S
342         0       2  male  28.00        S
343         0       2  male  25.00        S
344         0       2  male  36.00        S
348         1       3  male   3.00        S
349         0       3  male  42.00        S
350         0       3  male  23.00        S
351         0       1  male    NaN        S
352         0       3  male  15.00        C
353         0       3  male  25.00        S
354         0       3  male    NaN        C
355         0       3  male  28.00        S
360         0       3  male  40.00        S
361         0       2  male  29.00        C
363         0       3  male  35.00        S
364         0       3  male    NaN        Q
365         0       3  male  30.00        S
370         1       1  male  25.00        C
371         0       3  male  18.00        S
372         0       3  male  19.00        S
373         0       1  male  22.00        C
377         0       1  male  27.00        C
378         0       3  male  20.00        C
379         0       3  male  19.00        S
382         0       3  male  32.00        S
384         0       3  male    NaN        S
385         0       2  male  18.00        S
386         0       3  male   1.00        S
388         0       3  male    NaN        Q
390         1       1  male  36.00        S
391         1       3  male  21.00        S
392         0       3  male  28.00        S
395         0       3  male  22.00        S
397         0       2  male  46.00        S
398         0       2  male  23.00        S
400         1       3  male  39.00        S
401         0       3  male  26.00        S
403         0       3  male  28.00        S
405         0       2  male  34.00        S
406         0       3  male  51.00        S
407         1       2  male   3.00        S
408         0       3  male  21.00        S
410         0       3  male    NaN        S
411         0       3  male    NaN        Q
413         0       2  male    NaN        S
414         1       3  male  44.00        S
418         0       2  male  30.00        S
420         0       3  male    NaN        C
421         0       3  male  21.00        Q
422         0       3  male  29.00        S
424         0       3  male  18.00        S
425         0       3  male    NaN        S
428         0       3  male    NaN        Q
429         1       3  male  32.00        S
430         1       1  male  28.00        S
433         0       3  male  17.00        S
434         0       1  male  50.00        S
438         0       1  male  64.00        S
439         0       2  male  31.00        S
441         0       3  male  20.00        S
442         0       3  male  25.00        S
444         1       3  male    NaN        S
445         1       1  male   4.00        S
447         1       1  male  34.00        S
449         1       1  male  52.00        S
450         0       2  male  36.00        S
451         0       3  male    NaN        S
452         0       1  male  30.00        C
453         1       1  male  49.00        C
454         0       3  male    NaN        S
455         1       3  male  29.00        C
456         0       1  male  65.00        S
459         0       3  male    NaN        Q
460         1       1  male  48.00        S
461         0       3  male  34.00        S
462         0       1  male  47.00        S
463         0       2  male  48.00        S
464         0       3  male    NaN        S
465         0       3  male  38.00        S
466         0       2  male    NaN        S
467         0       1  male  56.00        S
468         0       3  male    NaN        Q
470         0       3  male    NaN        S
471         0       3  male  38.00        S
475         0       1  male    NaN        S
476         0       2  male  34.00        S
477         0       3  male  29.00        S
478         0       3  male  22.00        S
480         0       3  male   9.00        S
481         0       2  male    NaN        S
482         0       3  male  50.00        S
484         1       1  male  25.00        C
487         0       1  male  58.00        C
488         0       3  male  30.00        S
489         1       3  male   9.00        S
490         0       3  male    NaN        S
491         0       3  male  21.00        S
492         0       1  male  55.00        S
493         0       1  male  71.00        C
494         0       3  male  21.00        S
495         0       3  male    NaN        C
497         0       3  male    NaN        S
499         0       3  male  24.00        S
500         0       3  male  17.00        S
505         0       1  male  18.00        C
507         1       1  male    NaN        S
508         0       3  male  28.00        S
509         1       3  male  26.00        S
510         1       3  male  29.00        Q
511         0       3  male    NaN        S
512         1       1  male  36.00        S
514         0       3  male  24.00        S
515         0       1  male  47.00        S
517         0       3  male    NaN        Q
519         0       3  male  32.00        S
521         0       3  male  22.00        S
522         0       3  male    NaN        C
524         0       3  male    NaN        C
525         0       3  male  40.50        Q
527         0       1  male    NaN        S
528         0       3  male  39.00        S
529         0       2  male  23.00        S
531         0       3  male    NaN        C
532         0       3  male  17.00        C
536         0       1  male  45.00        S
538         0       3  male    NaN        S
543         1       2  male  32.00        S
544         0       1  male  50.00        C
545         0       1  male  64.00        S
547         1       2  male    NaN        C
548         0       3  male  33.00        S
549         1       2  male   8.00        S
550         1       1  male  17.00        C
551         0       2  male  27.00        S
552         0       3  male    NaN        Q
553         1       3  male  22.00        C
555         0       1  male  62.00        S
557         0       1  male    NaN        C
560         0       3  male    NaN        Q
561         0       3  male  40.00        S
562         0       2  male  28.00        S
563         0       3  male    NaN        S
565         0       3  male  24.00        S
566         0       3  male  19.00        S
568         0       3  male    NaN        C
569         1       3  male  32.00        S
570         1       2  male  62.00        S
572         1       1  male  36.00        S
574         0       3  male  16.00        S
575         0       3  male  19.00        S
579         1       3  male  32.00        S
582         0       2  male  54.00        S
583         0       1  male  36.00        C
584         0       3  male    NaN        C
586         0       2  male  47.00        S
587         1       1  male  60.00        C
588         0       3  male  22.00        S
589         0       3  male    NaN        S
590         0       3  male  35.00        S
592         0       3  male  47.00        S
594         0       2  male  37.00        S
595         0       3  male  36.00        S
597         0       3  male  49.00        S
598         0       3  male    NaN        C
599         1       1  male  49.00        C
601         0       3  male    NaN        S
602         0       1  male    NaN        S
603         0       3  male  44.00        S
604         1       1  male  35.00        C
605         0       3  male  36.00        S
606         0       3  male  30.00        S
607         1       1  male  27.00        S
611         0       3  male    NaN        S
613         0       3  male    NaN        Q
614         0       3  male  35.00        S
616         0       3  male  34.00        S
619         0       2  male  26.00        S
620         0       3  male  27.00        C
621         1       1  male  42.00        S
622         1       3  male  20.00        C
623         0       3  male  21.00        S
624         0       3  male  21.00        S
625         0       1  male  61.00        S
626         0       2  male  57.00        Q
628         0       3  male  26.00        S
629         0       3  male    NaN        Q
630         1       1  male  80.00        S
631         0       3  male  51.00        S
632         1       1  male  32.00        C
633         0       1  male    NaN        S
636         0       3  male  32.00        S
637         0       2  male  31.00        S
639         0       3  male    NaN        S
640         0       3  male  20.00        S
643         1       3  male    NaN        S
645         1       1  male  48.00        C
646         0       3  male  19.00        S
647         1       1  male  56.00        C
648         0       3  male    NaN        S
650         0       3  male    NaN        S
652         0       3  male  21.00        S
655         0       2  male  24.00        S
656         0       3  male    NaN        S
658         0       2  male  23.00        S
659         0       1  male  58.00        C
660         1       1  male  50.00        S
661         0       3  male  40.00        C
662         0       1  male  47.00        S
663         0       3  male  36.00        S
664         1       3  male  20.00        S
665         0       2  male  32.00        S
666         0       2  male  25.00        S
667         0       3  male    NaN        S
668         0       3  male  43.00        S
671         0       1  male  31.00        S
672         0       2  male  70.00        S
673         1       2  male  31.00        S
674         0       2  male    NaN        S
675         0       3  male  18.00        S
676         0       3  male  24.50        S
679         1       1  male  36.00        C
681         1       1  male  27.00        C
682         0       3  male  20.00        S
683         0       3  male  14.00        S
684         0       2  male  60.00        S
685         0       2  male  25.00        C
686         0       3  male  14.00        S
687         0       3  male  19.00        S
688         0       3  male  18.00        S
690         1       1  male  31.00        S
692         1       3  male    NaN        S
693         0       3  male  25.00        C
694         0       1  male  60.00        S
695         0       2  male  52.00        S
696         0       3  male  44.00        S
698         0       1  male  49.00        C
699         0       3  male  42.00        S
701         1       1  male  35.00        S
703         0       3  male  25.00        Q
704         0       3  male  26.00        S
705         0       2  male  39.00        S

In [167]:
count_survived_3 = (tr_m['Survived'] == 1).sum()

print(f"Number of people that survived and are male: {count_survived_3 }")

Number of people that survived and are male: 109

In [188]:
men_surv_rate = count_survived_3/count_survived_1
print (men_surv_rate.round(2))

0.32

In [169]:
survived_112 = fem_surv_rate > men_surv_rate
print(survived_112)

True

By comparing the men_surv_rate which represents the survival rate of men on the titanic to the fem_surv_rate which represents the survival rate of women on the titanic we can see that the survival rate amongst women was greater than that of men

In [170]:
tr_2.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         36
Embarked     2
dtype: int64

In [171]:
tr_2.Age.isnull().sum()

36

I am going to try different methods to figure out theh age range of those that survived, i am going to drop the, then i am going to replace missing values with the mean age.

# Drop missing values

In [172]:
#dropping missing values
dropped_tr_2 = tr_2.dropna()
dropped_tr_2.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Embarked    0
dtype: int64

# Replace missing values

In [173]:
max_age = tr_2['Age'].max()
print(max_age)

63.0

In [174]:
min_age = tr_2['Age'].min()
print(min_age)

0.75

In [175]:
mode_age = tr_2['Age'].mode()[0]
print(mode_age)

24.0

In [176]:
pd.set_option('display.max_rows', None)
age_counts = tr_2['Age'].value_counts()
print(age_counts)

24.00    14
22.00    10
30.00     9
35.00     8
18.00     8
36.00     7
19.00     7
33.00     6
16.00     5
17.00     5
29.00     5
28.00     5
31.00     5
4.00      5
27.00     5
40.00     5
34.00     4
50.00     4
38.00     4
23.00     4
15.00     4
5.00      4
21.00     4
39.00     4
14.00     3
58.00     3
45.00     3
42.00     3
48.00     3
54.00     3
26.00     3
0.75      2
52.00     2
13.00     2
2.00      2
25.00     2
44.00     2
41.00     2
32.00     2
1.00      2
49.00     2
63.00     2
60.00     1
6.00      1
47.00     1
62.00     1
43.00     1
51.00     1
53.00     1
55.00     1
3.00      1
32.50     1
7.00      1
8.00      1
56.00     1
Name: Age, dtype: int64

In [177]:
median_age = tr_2['Age'].median()

In [178]:
print(median_age)

28.0

In [179]:
bins = [0, 12, 18, 35, 50, 65]
labels = ['Child', 'Teen', 'Young Adult', 'Middle Aged', 'Senior']

In [180]:
tr_2 = tr_2.copy()
tr_2['Age_Group'] = pd.cut(tr_2['Age'], bins=bins, labels=labels)

In [181]:
print(tr_2['Age_Group'])

1      Middle Aged
2      Young Adult
3      Young Adult
8      Young Adult
9             Teen
10           Child
11          Senior
15          Senior
19             NaN
22            Teen
25     Middle Aged
28             NaN
31             NaN
32             NaN
39            Teen
43           Child
44     Young Adult
47             NaN
52     Middle Aged
53     Young Adult
56     Young Adult
58           Child
61     Middle Aged
66     Young Adult
68            Teen
79     Young Adult
82             NaN
84            Teen
85     Young Adult
88     Young Adult
98     Young Adult
106    Young Adult
109            NaN
123    Young Adult
128            NaN
133    Young Adult
136    Young Adult
141    Young Adult
142    Young Adult
151    Young Adult
156           Teen
161    Middle Aged
166            NaN
172          Child
184          Child
186            NaN
190    Young Adult
192    Young Adult
194    Middle Aged
195         Senior
198            NaN
208           Teen
211    Young Adult
215    Young Adult
216    Young Adult
218    Young Adult
230    Young Adult
233          Child
237          Child
241            NaN
247    Young Adult
255    Young Adult
256            NaN
257    Young Adult
258    Young Adult
259    Middle Aged
268         Senior
269    Young Adult
272    Middle Aged
274            NaN
275         Senior
279    Young Adult
289    Young Adult
290    Young Adult
291    Young Adult
299    Middle Aged
300            NaN
303            NaN
306            NaN
307           Teen
309    Young Adult
310    Young Adult
311           Teen
315    Young Adult
316    Young Adult
318    Young Adult
319    Middle Aged
322    Young Adult
323    Young Adult
325    Middle Aged
327    Middle Aged
328    Young Adult
329           Teen
330            NaN
334            NaN
337    Middle Aged
341    Young Adult
345    Young Adult
346    Middle Aged
347            NaN
356    Young Adult
358            NaN
359            NaN
366         Senior
367            NaN
368            NaN
369    Young Adult
375            NaN
376    Young Adult
380    Middle Aged
381          Child
383    Young Adult
387    Middle Aged
389           Teen
393    Young Adult
394    Young Adult
399    Young Adult
412    Young Adult
416    Young Adult
417           Teen
426    Young Adult
427    Young Adult
431            NaN
432    Middle Aged
435           Teen
437    Young Adult
440    Middle Aged
443    Young Adult
446           Teen
448          Child
457            NaN
458    Middle Aged
469          Child
472    Young Adult
473    Young Adult
479          Child
483         Senior
486    Young Adult
496         Senior
504           Teen
506    Young Adult
513         Senior
516    Young Adult
518    Middle Aged
520    Young Adult
523    Middle Aged
526    Middle Aged
530          Child
533            NaN
535          Child
537    Young Adult
539    Young Adult
540    Middle Aged
546    Young Adult
554    Young Adult
556    Middle Aged
558    Middle Aged
559    Middle Aged
571         Senior
573            NaN
576    Young Adult
577    Middle Aged
580    Young Adult
581    Middle Aged
585           Teen
591         Senior
596            NaN
600    Young Adult
608    Young Adult
609    Middle Aged
612            NaN
615    Young Adult
618          Child
627    Young Adult
635    Young Adult
641    Young Adult
644          Child
649    Young Adult
651           Teen
653            NaN
669            NaN
670    Middle Aged
677           Teen
689           Teen
691          Child
697            NaN
700           Teen
706    Middle Aged
708    Young Adult
710    Young Adult
716    Middle Aged
717    Young Adult
720          Child
726    Young Adult
727            NaN
730    Young Adult
742    Young Adult
747    Young Adult
750          Child
754    Middle Aged
759    Young Adult
763    Middle Aged
765         Senior
774         Senior
777          Child
779    Middle Aged
780           Teen
781           Teen
786           Teen
796    Middle Aged
797    Young Adult
801    Young Adult
809    Young Adult
820         Senior
823    Young Adult
829         Senior
830           Teen
835    Middle Aged
842    Young Adult
849            NaN
853           Teen
855           Teen
856    Middle Aged
858    Young Adult
862    Middle Aged
865    Middle Aged
866    Young Adult
871    Middle Aged
874    Young Adult
875           Teen
879         Senior
880    Young Adult
887    Young Adult
Name: Age_Group, dtype: category
Categories (5, object): ['Child' < 'Teen' < 'Young Adult' < 'Middle Aged' < 'Senior']

In [182]:
Child_surv_count = (tr_2['Age_Group'] == 'Child').sum()
print(Child_surv_count)
Child_surv_rate = Child_surv_count/count_survived_2
a = Child_surv_rate.round(2)
print(a)

19
0.08

In [183]:
Teen_surv_count = (tr_2['Age_Group'] == 'Teen').sum()
print(Teen_surv_count)
Teen_surv_rate = Teen_surv_count/count_survived_2
b = Teen_surv_rate.round(2)
print(b)

27
0.12

In [184]:
Young_Adult_count = (tr_2['Age_Group'] == 'Young Adult').sum()
print(Young_Adult_count)
Young_Adult_rate = Young_Adult_count/count_survived_2
c = Young_Adult_rate.round(2)
print(c)

94
0.4

In [185]:
middle_Aged_count = (tr_2['Age_Group'] == 'Middle Aged').sum()
print(middle_Aged_count)
middle_Aged_rate = middle_Aged_count/count_survived_2
d = middle_Aged_rate.round(2)
print(d)

41
0.18

In [186]:
Senior_Aged_count = (tr_2['Age_Group'] == 'Senior').sum()
print(Senior_Aged_count)
Senior_Aged_rate = Senior_Aged_count/count_survived_2
e = Senior_Aged_rate.round(2)
print (e)

16
0.07

From our findings above we can say that Young Adult women between the ages of 18 and 35 were the most likely to survive.

In [194]:
young_adult = tr_2[tr_2['Age_Group'] == 'Young Adult']

In [204]:
young_adult_count1 = (young_adult['Pclass'] == 1).sum()
print(young_adult_count1)
young_adult_rate = young_adult_count1/Young_Adult_count
yac = young_adult_rate.round(2)
print (yac)

35
0.37

In [203]:
young_adult_count2 = (young_adult['Pclass'] == 2).sum()
print(young_adult_count2)
young_adult_rate2 = young_adult_count2/Young_Adult_count
yac2 = young_adult_rate2.round(2)
print (yac2)

37
0.39

In [202]:
young_adult_count3 = (young_adult['Pclass'] == 3).sum()
print(young_adult_count3)
young_adult_rate3 = young_adult_count3/Young_Adult_count
yac3 = young_adult_rate3.round(2)
print (yac3)

22
0.23

from the code above we can infer that young adult women between the ages of 18 and 35 who are in the second socio-economic class are the most likely to survive.